{{ form_start(form) }}

<div class="project-settings">
    <div class="project-color">{{ form_row(form.color) }}</div>
    <div class="project-name">{{ form_row(form.name) }}</div>
</div>

{{ form_widget(form) }}

<div class="project-actions z-depth-5">
    <div class="action-back"><a class="btn btn-flat smooth" href="{{ referer }}"><i class="material-icons left">keyboard_arrow_left</i>Retour</a></div>
    <button class="btn btn-large"><i class="material-icons left">check</i>{{ button_label|default('Valider') }}</button>
</div>

{{ form_end(form) }}
