{% extends 'base.html.twig' %}

{% block title %}Editer le Projet{% endblock %}

{% block body %}

<nav>
    <div class="nav-wrapper container row">
        <div class="col s12">
            <a href="{{ path('project_index') }}" class="breadcrumb smooth"><i class="material-icons left">folder</i>Mes
                projets</a>
            <a href="{{ path('project_show', { id: project.id }) }}" class="breadcrumb smooth">{{ project.name }}</a>
        </div>
    </div>
</nav>

<main class="wrapper" style="background:{{ project.color }};">

    <div class="background-mountains"></div>

    <div id="color-picker" class="main-content scene_element scene_element--fadein">

        <div class="container">
            <div class="row">
                <div class="col s12">

                    <div class="header">
                        <h1>Editer le projet</h1>
                        {{ include('project/_delete_form.html.twig') }}
                    </div>

                    {{ include('project/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

                </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}