{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css">
{% endblock %}

{% block body %}

    <nav>
        <div class="nav-wrapper container row">
            <div class="col s12">
                <a href="{{ path('project_index') }}" class="breadcrumb">Mes projets</a>
                <a href="{{ path('project_show', { id: project.id }) }}" class="breadcrumb">{{ project.name }}</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col s12">

                <div>Total : {{ project.total }}</div>
                <div>
                    <a href="{{ path('project_session', {'id': project.id}) }}" class="btn">Nouvelle session</a>
                </div>

                {# <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a> #}

                <canvas id="myChart" data-id="{{ project.id }}" width="400" height="150"></canvas>

                <hr>

                <div style="display:flex;justify-content:space-between;">
                    <a class="btn" href="{{ path('project_index') }}">back to list</a>
                    {{ include('project/_delete_form.html.twig') }}
                </div>

            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script src="{{asset('js/chart.js')}}"></script>
{% endblock %}
